@model CoreDietPlan.Models.DietUsers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>DietUsers</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserAge)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserAge)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserGender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserGender)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserPassword)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPassword)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserWeightCategory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserWeightCategory)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ResetPasswordCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ResetPasswordCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NewUser)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NewUser)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsVeg)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsVeg)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SetPicture)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SetPicture)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.UserName">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
