@model CoreDietPlan.Models.FoodDb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FoodDB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServingQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServingQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fgroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fgroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
